/* Ensure the image takes the full width of the browser */
img {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Ensure the body and html take full height and use flexbox to center content */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
}

/* Styling for the h1 element */
h1 {
    width: 100%;
    text-align: center; /* Center the text */
    position: absolute;
    top: 0;
}

/* Container for the background photo */
#background-container {
    position: absolute;
    width: 90vw; /* 90% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center the background-photo horizontally */
    align-items: center; /* Center the background-photo vertically */
    z-index: 0;
}

/* Background photo styling */
.background-photo {
    width: 90vw;
    height: auto; /* Set the height to 100% of the viewport height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    position: absolute; /* Make background-photo the relative positioning context */
    z-index: 0;
}

/* Container for each group */
.group-container {
    margin-bottom: 20px; /* Space between groups */
    z-index: 1;
    position: relative;
}

/* Title for each group */
.group-container h2 {
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}

/* Style for each row */
.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between rows */
    z-index: 1;
    position: relative;
}

/* Style for the text element next to the image */
.text-image-container {
    position: relative;
    display: inline-block;
    z-index: 100; /* Bring the container to the front */
}

.text-element {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Optional: add background color for readability */
    color: white;
    padding: 5px;
    border-radius: 3px;
    z-index: 200; /* Ensure the text element is in front of other elements */
}

.text-image-container:hover .text-element {
    visibility: visible;
}

/* Specific styling for data photos */
.data-photo {
    width: auto; /* Adjust width as needed */
    height: 1vw; /* Maintain aspect ratio */
    z-index: 50; /* Ensure data photos are behind text elements */
}

/* Specific styling for group-1 to display items inline */
.group-1 {
    position: absolute;
    transform: scaleX(0.66);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    min-width: 200px;  /* Optional: set a minimum width */
    max-width: 800px;  /* Optional: set a maximum width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

.group-1 .row {
    width: 100%;  /* Ensure the group container takes the full width of its parent */
    height: 100%;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-2 to display items inline */
.group-2 {
    position: absolute;
    left: 27.5%;  /* Center it horizontally */
    transform: scaleX(0.65) scale(-1,1);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    min-width: 200px;  /* Optional: set a minimum width */
    max-width: 800px;  /* Optional: set a maximum width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

.group-2 .row {
    width: 100%;  /* Ensure the group container takes the full width of its parent */
    height: 100%;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-3 to display items inline */
.group-3 {
    position: absolute;
    left: 58%;  /* Center it horizontally */
    transform: scaleY(0.7) scale(-1,1) rotate(90deg);  /* Adjust horizontal centering */
    width: 40%;  /* Adjust width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Space items evenly */
    z-index: 1;
}

.group-3 .row {
    width: auto;  /* Ensure the group container takes the full width of its parent */
    height: auto;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content:center;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-4 to display items inline */
.group-4 {
    position: absolute;
    left: 67%;  /* Center it horizontally */
    transform: scaleX(0.7) scale(-1,1);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Space items evenly */
    z-index: 1;
}

.group-4 .row {
    width: auto;  /* Ensure the group container takes the full width of its parent */
    height: auto;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-5 to display items inline */
.group-5 {
    position: absolute;
    left: 33%;  /* Center it horizontally */
    transform: scaleX(0.67);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    min-width: 200px;  /* Optional: set a minimum width */
    max-width: 800px;  /* Optional: set a maximum width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

.group-5 .row {
    width: 100%;  /* Ensure the group container takes the full width of its parent */
    height: 100%;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-6 to display items inline */
.group-6 {
    position: absolute;
    left: 2%;  /* Center it horizontally */
    transform: scaleX(0.7) scale(-1,1);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Space items evenly */
    z-index: 1;
}

.group-6 .row {
    width: auto;  /* Ensure the group container takes the full width of its parent */
    height: auto;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-7 to display items inline */
.group-7 {
    position: absolute;
    left: 3%;  /* Center it horizontally */
    transform: scaleX(0.69);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    min-width: 200px;  /* Optional: set a minimum width */
    max-width: 800px;  /* Optional: set a maximum width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

.group-7 .row {
    width: 100%;  /* Ensure the group container takes the full width of its parent */
    height: 100%;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-8 to display items inline */
.group-8 {
    position: absolute;
    left: 34%;  /* Center it horizontally */
    transform: scaleX(0.7) scale(-1,1);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    min-width: 200px;  /* Optional: set a minimum width */
    max-width: 800px;  /* Optional: set a maximum width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

.group-8 .row {
    width: 100%;  /* Ensure the group container takes the full width of its parent */
    height: 100%;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-9 to display items inline */
.group-9 {
    position: absolute;
    left: 67%;  /* Center it horizontally */
    transform: scaleX(0.75);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Space items evenly */
    z-index: 1;
}

.group-9 .row {
    width: auto;  /* Ensure the group container takes the full width of its parent */
    height: auto;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-10 to display items inline */
.group-10 {
    position: absolute;
    left: 67%;  /* Center it horizontally */
    transform: scaleX(0.75) scale(-1,1);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Space items evenly */
    z-index: 1;
}

.group-10 .row {
    width: auto;  /* Ensure the group container takes the full width of its parent */
    height: auto;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Space items evenly */
    z-index: 1;
}

/* Specific styling for group-11 to display items inline */
.group-11 {
    position: absolute;
    left: 42.5%;  /* Center it horizontally */
    transform: scaleX(0.7);  /* Adjust horizontal centering */
    width: 30%;  /* Adjust width */
    min-width: 200px;  /* Optional: set a minimum width */
    max-width: 800px;  /* Optional: set a maximum width */
    display: flex;  /* Use flexbox to align items horizontally */
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}

.group-11 .row {
    width: 100%;  /* Ensure the group container takes the full width of its parent */
    height: 100%;
    display: flex;
    flex-direction: row;  /* Align items in a row */
    align-items: center;  /* Center items vertically */
    justify-content: space-around;  /* Space items evenly */
    z-index: 1;
}
